* {
    box-sizing: border-box;
}

body{
    padding: 0px;
    margin: 0px;
    font-family: 'Reem Kufi', sans-serif;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('../new_img/bg.png');
    background-position: center;
    background-attachment: fixed;
    position: relative;
    scroll-behavior: smooth;
}

body::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.552);
    z-index: -11;
}

h1, h2, h3, h4, h5, h6 {
    margin: unset;
    padding: unset;
    line-height: unset;
}

p {
    padding: 15px;
    margin: 15px;
}

::placeholder {
    font-family: 'Reem Kufi', sans-serif;
    color: darkblue;
}

.all-job-seeker {
    max-width: 1200px;
    margin: auto;
    padding: 0px 0px;
    padding-bottom: 80px;
}

.all-job-seeker-header {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    margin-bottom: 80px;
}

.all-job-seeker-header-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    flex-wrap: wrap;
}

.all-job-seeker-header-block-right {
    display: flex;
    align-items: center;
    column-gap: 20px;
    flex-wrap: wrap;
    row-gap: 10px;
    text-transform: capitalize;
}

.all-job-seeker-header-block-right div {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.text-field {
    padding: 5px 15px;
    font-family: 'Reem Kufi', sans-serif;
    font-size: 15px;
    border: none;
    outline: none;
}

.all-job-seeker-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 80px;
}

.all-job-seeker-block {
    background-color: white;
    padding: 20px 20px;
    flex-basis: 350px;
    border: 1px solid #707070;
    border-radius: 5px;
    box-shadow: 0px 15px 15px grey;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.all-job-seeker-block-header {
    max-width: 150px;
    margin: auto;
}


.all-job-seeker-block-header img{
    border-radius: 50%;
} 

.all-job-seeker-block-details {
    text-align: center;
    border-bottom: 2px solid darkblue;
    padding-bottom: 30px;
}

.all-job-seeker-block-details div {
    font-size: 20px;
    padding-top: 10px;
}

.all-job-seeker-block-text {
    font-size: 18px;
    word-spacing: 3px;
    line-height: 35px;
    text-align: justify;
}

.btn {
    font-family: 'Reem Kufi', sans-serif;
    font-size: 18px;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    background-color: #151865;
    text-decoration: none;
    text-align: center;
}

.btn:hover {
    box-shadow: 0px 15px 15px gray;
}

.all-job-seeker-footer {
    display: flex;
    align-items: center;
    column-gap: 50px;
    justify-content: center;
    padding: 30px 0px;
    flex-wrap: wrap;
}

.all-job-seeker-footer a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

@media screen and (max-width: 1024px){
    .all-job-seeker{
        padding: 50px 20px;
    }

    .all-job-seeker-header h1{
        margin-left: unset;
        padding-left: unset;
    }

    .text-field{
        font-size: 16px;
        padding: 10px 15px;
    }

    .all-job-seeker-content{
        padding: 0px 10px;
        justify-content: space-between;
        column-gap: 10px;
    }

    .all-job-seeker-block{
        flex-basis: 420px;
    }
}

@media screen and (max-width: 800px){
    .all-job-seeker{
        padding: 50px 20px;
    }

    .all-job-seeker-header h1{
        margin-left: unset;
        padding-left: unset;
    }

    
    .all-job-seeker-header-block-right div{
        justify-content: space-between;
        display: flex;
        flex-basis: 100%;
        flex-wrap: wrap;
        row-gap: 10px;
    }

    .text-field{
        font-size: 14px;
        padding: 5px 5px;
        flex-basis: 100%;
    }

    .text-field{
        font-size: 16px;
        padding: 10px 15px;
    }

    .all-job-seeker-content{
        padding: 0px 10px;
        justify-content: center;
        column-gap: 10px;
    }
}

@media screen and (max-width: 640px){
    .all-job-seeker{
        padding: 50px 20px;
    }

    .all-job-seeker-header h1{
        margin-left: unset;
        padding-left: unset;
    }

    .all-job-seeker-header-block {
        row-gap: 20px;
        font-size: 18px;
        justify-content: space-between;
    }

    .all-job-seeker-header-block-right{
        row-gap: 15px;
    }

    .all-job-seeker-header-block-right div{
        justify-content: space-between;
        display: flex;
        flex-basis: 100%;
    }

    .text-field{
        font-size: 16px;
        padding: 10px 15px;
    }

    .all-job-seeker-content{
        padding: 0px 10px;
        justify-content: center;
    }
}

@media screen and (max-width: 414px){
    h1{
        margin: unset;
        padding: unset;
    }

    .all-job-seeker{
        padding: 50px 20px;
    }

    .all-job-seeker-header h1{
        margin-left: unset;
        padding-left: unset;
    }

    .all-job-seeker-header-block {
        row-gap: 20px;
        font-size: 18px;
        justify-content: space-between;
    }

    .all-job-seeker-header-block-right{
        row-gap: 15px;
    }

    .all-job-seeker-header-block-right div{
        justify-content: space-between;
        display: flex;
        flex-basis: 100%;
        flex-wrap: wrap;
        row-gap: 10px;
    }

    .text-field{
        font-size: 14px;
        padding: 5px 5px;
        flex-basis: 100%;
    }

    .all-job-seeker-content{
        padding: 0px 10px;
    }

    .all-job-seeker-block{
        row-gap: 20px;
    }

    .all-job-seeker-footer{
        row-gap: 10px;
        padding: 20px;
    }

    .all-job-seeker-footer a{
        font-size: 16px;
    }
    
}

@media screen and (max-width: 320px){
    .all-job-seeker{
        padding: 50px 20px;
    }

    .all-job-seeker-header h1{
        margin-left: unset;
        padding-left: unset;
    }

    .all-job-seeker-header-block {
        row-gap: 20px;
        font-size: 18px;
        justify-content: space-between;
    }

    .all-job-seeker-header-block-right{
        row-gap: 15px;
    }

    .all-job-seeker-header-block-right div{
        justify-content: space-between;
        display: flex;
        flex-basis: 100%;
        flex-wrap: wrap;
        row-gap: 10px;
    }

    .text-field{
        font-size: 14px;
        padding: 5px 5px;
        flex-basis: 100%;
    }

    .all-job-seeker-content{
        padding: 0px 10px;
    }

    .all-job-seeker-footer{
        row-gap: 10px;
    }

    .all-job-seeker-footer a{
        font-size: 16px;
    }
}

@media screen and (max-width: 280px){
    .all-job-seeker{
        padding: 50px 10px;
    }

    .all-job-seeker-header h1{
        margin-left: unset;
        padding-left: unset;
    }

    .all-job-seeker-header-block {
        row-gap: 20px;
        font-size: 18px;
        justify-content: space-between;
    }

    .all-job-seeker-header-block-right{
        row-gap: 15px;
    }

    .all-job-seeker-header-block-right div{
        justify-content: space-between;
        display: flex;
        flex-basis: 100%;
        flex-wrap: wrap;
        row-gap: 10px;
    }

    .text-field{
        font-size: 14px;
        padding: 5px 5px;
        flex-basis: 100%;
    }

    .all-job-seeker-content{
        padding: 0px 10px;
    }

    .all-job-seeker-footer{
        row-gap: 5px;
    }

    .all-job-seeker-footer a{
        font-size: 12px;
    }
}